@using System.Security.Principal;
@using Session;

<ul class="navbar-nav">


 <!--Used to add the signed in user's name & sign in/out; modeled after guide in Microsoft's documentation -->
@if (Model.User.Identity.IsAuthenticated)
{
        <span class="navbar-text text-dark">Hello @User.Identity?.Name!</span>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
}
</ul>
