@page
@model SCCPP1.Pages.CreateMainProfileModel
@{
    ViewData["Title"] = "Create Main Profile";
}

<!-- This page is used to create the user's profile. Will only be seen once upon inital login. -->

<style>
    body 
    {
        font-family: Arial, Helvetica, sans-serif;
    }

    * 
    {
        box-sizing: border-box;
    }

    input[type=text], select, textarea 
    {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] 
    {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover 
    {
        background-color: #45a049;
    }

    .profile 
    {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<h1>Create Your Profile</h1>

<!-- This section is for the About part of the profile -->
<div class="profile">
    <form action ="/action_page.php">
        <fieldset>
            <legend>About:</legend>

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your first name...">
            <br>

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name...">
            <br>

            <label for="lname">Middle Initial</label>
            <input type="text" id="minitial" name="middleinitial" placeholder="Your middle initial...">
            <br>

            <label for="aboutme">About</label>
            <textarea id="about" name="about" placeholder="Tell me about yourself..." style="height:200px"></textarea>
            <br>
        </fieldset>
    </form>
    
    <form>
    <label for="skill">Skill</label>
    <textarea id="skill" name="skill" placeholder="Tell us what skills you possess..." style="height:200px"></textarea>
    <br>

    <label for="experience">Experience</label>
    <textarea id="experience" name="experience" placeholder="Tell us what you know..." style="height:200px"></textarea>
    <br>

    <label for="education">Education/Certificates</label>
    <input type="text" id="edu" name="education" placeholder="Tell us your education/certificate title...">

    <label for="eduyear">Education Year</label>
    <input type="text" id="eduyear" name="educationyear" placeholder="When did you get your edu/cert......">
    <br>

    <input type="submit" value="Submit">
  </form>
</div>

