@page
@model SCCPP1.Pages.CreateMainProfileModel
@{
    ViewData["Title"] = "Create Main Profile";
}

<!-- This page is used to create the user's profile. Will only be seen once upon inital login. -->
<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #000000;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: white;
        color: #0062F3;
        padding: 12px 20px;
        border: 1px solid #0062F3;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #0062F3;
            color: white;
            border: 1px solid #0062F3;
        }

    .profile {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
    }

    .input-categories {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

        .input-categories ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style-type: none;
            flex-wrap: wrap;
        }

        .input-categories li {
            border: 1px solid black;
            border-radius: 2px;
            padding: 1px;
            margin: 1px;
        }

        .input-categories input {
            flex: 1 1 auto;
            align-self: flex-start;
        }

</style>

<!-- This section is for the About part of the profile -->
<body>

    <br>
    <h1>Create Main Profile</h1>
    <br>
    <div class="profile">
        <form action="javascript:void(0)" method="post"> <!--Action stops page from being submitted every time user presses enter-->

            <fieldset>
                <legend><b>About:</b></legend>

                <label for="FirstName">First Name</label>
                <input asp-for="Colleague!.FirstName" placeholder="Your first name..." />
                <br />

                <label for="LastName">Last Name</label>
                <input asp-for="Colleague!.LastName" placeholder="Your last name..." />
                <br />

                <label for="MiddleName">Middle Name</label>
                <input asp-for="Colleague!.MiddleName" placeholder="Your middle name..." />
                <br />

                <label for="PhoneNumber">Phone</label>
                <input asp-for="Colleague!.PhoneNumber" id="helllllo" placeholder="Ex... (123-456-7891)" />
                <br />

                <label for="EmailAddress">Email Address</label>
                <input id="hello" asp-for="Colleague!.EmailAddress" placeholder="Your email address..." />
                <br />

                <label for="IntroNarrative">About</label>
                <textarea asp-for="Colleague!.IntroNarrative" placeholder="Tell me about yourself..." style="height:200px"></textarea>
                <br />
            </fieldset>


            <fieldset>
                <legend><b>Skills:</b></legend>

                <label for="experience">Experience</label>
                <textarea id="experience" name="experience" placeholder="Tell us what you know..." style="height:200px"></textarea>
                <br>

                <label for="clang">Programming Languages</label>
                <div class="input-categories">
                    <input type="text" id="clang" name="complanguages" placeholder="Tell us what languages you know...(Press enter to save language)">
                    &nbsp;
                    <ul>
                    </ul>
                    </input>
                </div>
                <br>

                <label for="clang">Operating Systems</label>
                <input type="text" id="opsys" name="operatingsystems" placeholder="Tell us what operating systems you are familiar with...">
                <br>

                <label for="sandf">Software & Frameworks</label>
                <input type="text" id="sandf" name="softandframe" placeholder="Tell us what software and frameworks you are familiar with...">
                <br>

            </fieldset>

            <fieldset>

                <legend><b>Education/Certification:</b></legend>

                <label for="educert">Education</label>
                <input type="text" id="educert" name="educationcertification" placeholder="Tell us your education title...">
                <br>

                <label for="educert">Certification</label>
                <input type="text" id="educert" name="educationcertification" placeholder="Tell us your certification title...">
                <br>

                <label for="eduyear">Education Year</label>
                <input type="text" id="eduyear" name="educationyear" placeholder="When did you get your education/certification......">
                <br>
            </fieldset>

            <input type="submit" value="Submit" />
            <input type="submit" value="Save as Draft">

        </form>

        <!-- Test for whether the user info is saved or not -->
        <p>
            @ViewData["UserData"]
        </p>

    </div>
</body>


<script>
    /* Script for adding a input for specific fields https://stackoverflow.com/questions/10839570/how-does-stackoverflow-make-its-tag-input-field */
    var es = document.querySelectorAll('.input-categories');
    for (var i = 0; i < es.length; i++) {
        es[i]._list = es[i].querySelector('ul');
        es[i]._input = es[i].querySelector('input');
        es[i]._input._icategories = es[i];
        es[i].onkeydown = function (e) {
            var e = event || e;
            if (e.keyCode == 13) {
                var c = e.target._icategories;
                var li = document.createElement('li');
                li.innerHTML = c._input.value;
                c._list.appendChild(li);
                c._input.value = '';
                e.preventDefault();
            }
        }
    }
</script>

