@page
@model SCCPP1.Pages.CreateMainProfileModel
@{
    ViewData["Title"] = "Create Main Profile";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to create your main profile. Only seen once upon initial login for user to first create their main profile. </p>

