@page
@model SCCPP1.Pages.CreateSubProfileModel
@{
    ViewData["Title"] = "Create Sub Profile";
}
<h1>@ViewData["Title"]</h1>

<p>Create a sub profile to be filled with data from main profile. Will always open as an empty profile. </p>

