@page
@model SCCPP1.Pages.EditMainProfileModel
@{
    ViewData["Title"] = "Edit Main Profile";
}

<!-- This page is used to create the user's profile. Will only be seen once upon inital login. -->
<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #000000;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: white;
        color: #0062F3;
        padding: 12px 20px;
        border: 1px solid #0062F3;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #0062F3;
            color: white;
            border: 1px solid #0062F3;
        }

    .profile {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
    }
</style>

<!-- This section is for the About part of the profile -->
<body>

    <br>
    <h1>Edit Main Your Profile</h1>
    <br>
    <div class="profile">
        <form method="post">

            <fieldset>
                <legend><b>About:</b></legend>

                <label for="FirstName">First Name</label>
                <input asp-for="Colleague!.FirstName" placeholder="Your first name..." />
                <br>

                <label for="LastName">Last Name</label>
                <input asp-for="Colleague!.LastName" placeholder="Your last name..." />
                <br>

                <label for="MiddleName">Middle Name</label>
                <input asp-for="Colleague!.MiddleName" placeholder="Your middle name..." />
                <br>

                <label for="PhoneNumber">Phone</label>
                <input asp-for="Colleague!.PhoneNumber" placeholder="Ex... (123-456-7891)" />
                <br>

                <label for="EmailAddress">Email Address</label>
                <input asp-for="Colleague!.EmailAddress" placeholder="Your email address..." />
                <br>

                <label for="IntroNarrative">About</label>
                <textarea asp-for="Colleague!.IntroNarrative" placeholder="Tell me about yourself..." style="height:200px"></textarea>
                <br>
            </fieldset>

            <!--
            <fieldset>
                <legend><b>Skills:</b></legend>

                <label for="experience">Experience</label>
                <textarea id="experience" name="experience" placeholder="Tell us what you know..." style="height:200px"></textarea>
                <br>

                <label for="clang">Programming Languages</label>
                <input type="text" id="plang" name="proglanguages" placeholder="Tell us what languages you know...">
                <br>

                <label for="clang">Operating Systems</label>
                <input type="text" id="opsys" name="operatingsystems" placeholder="Tell us what operating systems you are familiar with...">
                <br>

                <label for="sandf">Software & Frameworks</label>
                <input type="text" id="sandf" name="softandframe" placeholder="Tell us what software and frameworks you are familiar with...">
                <br>

            </fieldset>
            <fieldset>

                <legend><b>Education/Certification:</b></legend>

                <label for="educert">Education</label>
                <input type="text" id="educert" name="educationcertification" placeholder="Tell us your education title...">
                <br>

                <label for="educert">Certification</label>
                <input type="text" id="educert" name="educationcertification" placeholder="Tell us your certification title...">
                <br>

                <label for="eduyear">Education Year</label>
                <input type="text" id="eduyear" name="educationyear" placeholder="When did you get your education/certification......">
                <br>
            </fieldset>
            -->

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
