@page
@model SCCPP1.Pages.EditSubProfileModel
@{
    ViewData["Title"] = "Edit Sub Profile";
}
<h1>@ViewData["Title"]</h1>

<p>Edit a preexisting sub profile. Will always open with the data that has already been entered upon initial creation and will allow for either addition and deletion of info.  </p>