@page
@model SCCPP1.Pages.EditMainProfileModel
@{
    ViewData["Title"] = "Edit Main Profile";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to edit or add new information to your main profile. </p>


