@page
@model SCCPP1.Pages.EditMainProfileModel
@{
    ViewData["Title"] = "Edit Main Profile";
}

<!-- This page is used to create the user's profile. Will only be seen once upon initial login. -->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #000000;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    /* Submit button styling*/
    input[type=submit] {
        background-color: white;
        color: #0062F3;
        padding: 12px 20px;
        border: 1px solid #0062F3;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #0062F3;
            color: white;
            border: 1px solid #0062F3;
        }

    .profile {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
    }

    /* Div class styling for tag system*/
    .input-categories {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

        .input-categories ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style-type: none;
            flex-wrap: wrap;
        }

        .input-categories li {
            border: 1px solid black;
            border-radius: 2px;
            padding: 1px;
            margin: 1px;
        }

        .input-categories input {
            flex: 1 1 auto;
            align-self: flex-start;
        }
</style>

<body>
    <h1>Edit Your Main Profile</h1>
    <br />
    <div class="profile">
        <!-- Stops page from being submitted every time user presses enter, need to find a different way to do this as it affects where the form is being sent this way-->
        <!-- action="javascript:void(0)" -->
        <form method="post">
            <legend><b>About:</b></legend>

            <label for="FirstName">First Name</label>
            <input type="text" asp-for="Colleague!.FirstName" placeholder="Ex. John" />
            <br />

            <label for="LastName">Last Name</label>
            <input type="text" asp-for="Colleague!.LastName" placeholder="Ex. Smith" />
            <br />

            <label for="MiddleName">Middle Name</label>
            <input type="text" asp-for="Colleague!.MiddleName" placeholder="Ex. Robert" />
            <br />

            <label for="PhoneNumber">Phone</label>
            <input type="text" asp-for="Colleague!.PhoneNumber" placeholder="Ex. (987)-654-3210" />
            <br />

            <label for="EmailAddress">Email Address</label>
            <input type="text" asp-for="Colleague!.EmailAddress" placeholder="Ex. jsmith@example.com" />
            <br />

            <label for="IntroNarrative">About</label>
            <textarea asp-for="Colleague!.IntroNarrative" placeholder="Introduce yourself..." style="height:200px"></textarea>
            <br />

            <legend><b>Skills:</b></legend>

            <!-- This is an example of how I will be doing the tag system and is not yet finalized.
              I intend to have the tags remain in the input field and also allow the user to delete any tags they may have created  -->
            <label for="ProgLang">Programming Languages:</label>
            <div class="input-categories">
                <input type="text" asp-for="Skill!.ProgLang" placeholder="What languages do you know?... (Press enter to save language)" />
                &nbsp;
                <ul>
                </ul>
            </div>
            <br />

            <label for="OS">Operating Systems</label>
            <input type="text" asp-for="Skill!.OS" placeholder="What operating systems do you know?..." />
            <br />

            <label for="SoftAndFrame">Software & Frameworks</label>
            <input type="text" asp-for="Skill!.SoftAndFrame" placeholder="What softwares and frameworks do you know?...">
            <br />

            <legend><b>Experience:</b></legend>

            <label for="Experience">Experience</label>
            <textarea asp-for="Work!.Experience" name="experience" placeholder="Tell me about your work experience..." style="height:200px"></textarea>
            <br />

            <legend><b>Education/Certification:</b></legend>

            <label for="EduCert">Education</label>
            <input type="text" asp-for="Education!.EduCert" placeholder="Ex. Master of Business Administration (M.B.A.)">
            <br />

            <label for="EduCert">Certification</label>
            <input type="text" asp-for="Education!.EduCert" placeholder="Ex. Advanced Cyber Defender Certificate">
            <br />

            <label for="EduYear">Education Year</label>
            <input type="text" asp-for="Education!.EduYear" placeholder="When did you get your education/certification?...">
            <br />

            <input type="submit" value="Submit" />
            <input type="submit" value="Save as Draft">
        </form>
    </div>
</body>

<script>
    /* Script for adding a tag from data input into the input fields https://stackoverflow.com/questions/10839570/how-does-stackoverflow-make-its-tag-input-field */
    var es = document.querySelectorAll('.input-categories');
    for (var i = 0; i < es.length; i++) {
        es[i]._list = es[i].querySelector('ul');
        es[i]._input = es[i].querySelector('input');
        es[i]._input._icategories = es[i];
        es[i].onkeydown = function (e) {
            var e = event || e;
            if (e.keyCode == 13) {
                var c = e.target._icategories;
                var li = document.createElement('li');
                li.innerHTML = c._input.value;
                c._list.appendChild(li);
                c._input.value = '';
                e.preventDefault();
            }
        }
    }
</script>
