@page
@model SCCPP1.Pages.UserHomeModel
@{
    ViewData["Title"] = "User Home";
}
<h1>@ViewData["Title"]</h1>

<p>Landing page for the user upon login after main profile has been first created. Main profile and any sub profiles created will be viewable here and will have functionality for editing.</p>

