@page
@model SCCPP1.Pages.UserHomeModel
@{
    ViewData["Title"] = "User Home";
}
<style>
    /* Submit button styling*/
    input[type=submit] {
        background-color: #00868B;
        color: white;
        padding: 12px 20px;
        border: 1px solid #00868B;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #7E94CB;
            color: white;
            border: 1px solid #7E94CB;
        }

    /* Edit Main Profile button styling */
    .edit-profile-btn {
        background-color: #00868B;
        color: white;
        padding: 12px 20px;
        border: 1px solid #00868B;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }

        .edit-profile-btn:hover {
            background-color: #7E94CB;
            color: white;
            border: 1px solid #7E94CB;
        }

    .profile {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
    }

    .transport {
        padding: 45px;
    }

    .search-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .search-container input[type=text] {
            padding: 10px;
            margin-right: 10px;
            border: none;
            border-radius: 3px;
            width: 30%;
            box-sizing: border-box;
            background-color: #f1f1f1;
        }

            .search-container input[type=text]:focus {
                background-color: #ddd;
                outline: none;
            }
</style>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> <!--Icon reference-->
    <!--Get your own code at fontawesome.com-->
</head>
<body style="background-image: url(https://www.teamsparq.com/wp-content/themes/rural-sourcing/assets/images/backgrounds/stars-light-left.svg)">
    <h1 style="color: #7E94CB;">USER HOME</h1>
    @* this provides the link to edit the main page, followed by the placing of the profiles*@
    <a class="transport" href="EditMainProfile"><button>Edit Main Profile</button></a>
    <br />
    <br />
    <div class="search-container">
        <form method="get" action="">
            <input type="text" placeholder="Search profiles" name="searchTerm" />
            <input type="submit" value="Search" />
        </form>
    </div>
    <form method="post">
        @Html.Raw(ViewData["subProfiles"])
        <br>
        <input type="text" name="newSubP" placeholder="Enter a name to create a new Profile!" />
        <input type="submit" name="newProf" />
    </form>
</body>
</html>